

/* Main content styles */
.main {
    padding: 90px 0;
    align-items: center;
  
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subtitle {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #666;
  }
  
  .content {
    display: flex;
    gap: 30px;
  }
  
  /* Filter styles */
  .filter-toggle {
    display: none;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .filters {
    width: 250px;
    flex-shrink: 0;
  }
  
  .filter-group {
    margin-bottom: 20px;
  }
  
  .filter-group h3 {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.filter-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 0.8em;
}


.filter-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
  
  /* Products section styles */
  .products-section {
    flex-grow: 1;
  }
  
  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .sort-select {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Responsive grid layout */
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .product-card {
    position: relative;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: left    ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    position: relative;
    margin-bottom: 10px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .out-of-stock {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    font-size: 12px;
    color: red;
  }
  
  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
    flex: 1;
    margin-right: 10px;
  }
  
  .nav-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  